* {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
    margin-left: 30px;
    margin-top: 30px;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: brown;
    align-content: center;
}

a {
    text-decoration: none;
    background-color: brown;
    height: 55px;
    border: none;
    font-size: 35px;
}

img {
    width: 300px;

}

#options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: brown;
    height: 55px;
    border: none;
    font-size: 35px;
}

a:hover {
    color: brown;
    background-color: white;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}

#content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    color: brown;
}

#pageInfo {
    padding: 15px;
}